@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

body {
  font: var(--font-s);
  color: var(--primary-color);
}

.app {
  height: 100vh;
  overflow: auto;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}