.themeSwitcher {
  --switcher-height: 29px;
  --swither-width: 54px;

  background-color: transparent;
  border: 1px solid var(--inverted-primary-color);
  border-radius: 30px;
  position: relative;
  height: var(--switcher-height);
  width: var(--swither-width);

  &::before {
    content: "";
    border-radius: 50%;
    height: calc(var(--switcher-height) - 4px);
    width: calc(var(--swither-width) / 2 - 2px);
    position: absolute;
    left: 1px;
    top: 1px;
    transition: 0.2s;
    background-color: var(--inverted-primary-color);
  }
}

.sun {
  top: 2.5px;
  left: 3px;
  position: absolute;
  filter: invert(1);
  transition: 0.1s linear;
}

.moon {
  top: 2.5px;
  right: 3px;
  position: absolute;
  filter: invert(0.7);
  transition: 0.2s;
}

.dark {
  .moon {
    filter: invert(1);
  }

  .sun {
    filter: invert(0.7);
  }

  &::before {
    transform: translateX(100%);
  }
}