:root {
  --font-family-main: "Arial", sans-serif;
  --font-size-s: 16px;
  --line-height-s: 24px;
  --font-s: var(--font-size-s) / var(--line-height-s) var(--font-family-main);
  --font-size-m: 24px;
  --line-height-m: 32px;
  --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);
  --font-size-l: 32px;
  --line-height-l: 40px;
  --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);

  // Размеры
  --navbar-height: 45px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Z - Индексы
  --modal-z-index: 100;

  // Цвет
  --overlay-color: rgb(0 0 0 / 60%);
}