.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s 0.1s, visibility 0s 0.2s;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--bg-color);
  overflow: auto;
  transform: scale(0.5);
  transition: 0.25s;
  color: var(--primary-color);
  max-width: 60%;
}

.opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  transition: 0.2s;

  .content{
    transform: scale(1);
  }
}