.app.dark{
  --bg-color: #1a1a1a;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #c8d603;
  --secondary-color: #95a002;
  --inverted-primary-color: #202020;
  --inverted-secondary-color: #494949;
}